@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap');
:root {
    --main-color: #077133;
    --sec-color: #015b27;
}
@font-face {
    font-family: "Font Digital";
    src: url('../poppins/Poppins-Regular.ttf');
}
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
.btn-green {
    /* font-weight: 600 !important; */
    background-color: var(--main-color);
    color:#fff;
    transition: .1s;
}
.btn-green:hover {
    /* font-weight: 600 !important; */
    background-color: var(--sec-color);
    color:#fff;
}

.fw-600 {
    font-weight: 600;
}
.fw-500 {
    font-weight: 500;
}
.fw-400 {
    font-weight: 400;
}
.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.rounded-4{
    border-radius: 8px;
}
.rounded-8 {
    border-radius: 0.5rem;
}
.rounded-16 {
    border-radius: 1rem;
}
